body{
	margin: 0;
	font-size: 16px;
}
.developer{
	width: 100%;
	height: 100%;
	background: url(../img/happy-developer.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.developer h1 {
	margin: 8%;
	padding: 2%;
	background: rgba(255,255,255,.50);
}
.developer p {
	margin: 2%;
	padding: 2%;
	background: rgba(255,255,255,.50);
}
.mobile{
	background: rgba(0,0,0,.25);
	padding: 2% 1%; 
}
.portafolio{
	padding: 2%;
}
.portafolio h2{
	padding: 2%;
}
footer {
	background: #000;
	height: 12%;
}
footer ul li a{
	color: rgba(255,255,255, .25);
}
